.about-me-page{
    .portfolio-navbar-container{
        justify-content: center;
        .navbar-short-inro-container{
            display: none; 
        }
    }
    .decoration.bubble{
        position: absolute;
        border: 1px solid rgba(255, 255, 255, 0.6); 
        border-radius: 50%;
        z-index: 1; 
        background: linear-gradient(217deg, rgba(230, 165, 223,.6), rgba(255,0,0,0) 70.71%),
        linear-gradient(127deg, rgba(255, 255,255,.9), rgba(0,255,0,0) 70.71%),
        linear-gradient(336deg, rgba(122, 180, 235,.8), rgba(0,0,255,0) 70.71%);
       
    }
}
@keyframes bubble-move{
    from{
    }
    to{
        top: 0px;
    }
}
@keyframes bubble-wiggle{
    from{}
    to{

    }
}
.portfolio-general-content{
    background: #222222; 
    height: calc(100vh - 50px);
    width: 100%; 
    color: white;
    .about-container{
        width: 70%;
        margin: auto; 
        height: calc(100vh - 200px);
        position: relative;
        top: 50px; 
        padding: 50px;
        box-sizing: border-box;
        padding-top: 15px;
        font-family: 'Kalam', cursive;
        /*box-shadow: 0 0 5px 10px rgba(122, 180, 235, 0.6);*/
        background: rgba(122, 180, 235, 0.4);
        border-radius: 3px; 
        z-index: 3;
        .corner-wrapper.top, .corner-wrapper.bottom{
            height: 200px;
            width: 200px;
            position: absolute;
            top: 0px; 
            left: 0px;
            border-radius:25px;
            overflow: hidden;
            box-sizing: border-box;;
        }
        .corner-wrapper.top{
            border-top-left-radius: 3px;
        }
        .corner-wrapper.bottom{
            bottom: 0px;
            right: 0px;
            left: unset; 
            top: unset; 
            border-bottom-right-radius: 3px;
        }
        .corner-top-left, .corner-bottom-right{
            box-sizing: border-box;
            height:100%;
            width: 100%;
            border: 10px solid;
            border-image: linear-gradient(135deg, #420773,#5d3670, #844bb3,#7ab4eb, #844bb3,#5d3670, #420773) 1;
        }
        .corner-top-left{
            border-right:unset;
            border-bottom: unset;           
        }
        .corner-bottom-right{
            border-left: unset;
            border-top: unset;
        }
        .name-container{
            font-size: 7rem;
        }
        .job-container{
            font-size: 4rem;
            padding-left: 10%;
            padding-bottom: 5vh;
        }
        .short-introduction{
            font-size: 1.2rem; 
        }
    }
}