.portfolio-general-content{
    background: #222222; 
    height: 100vh;
    width: 100%; 
    .about-container{
        width: 70%;
        margin: auto; 
        height: 100vh;
        position: relative;
        .corner-top-left, .corner-bottom-right{
            border: 10px solid blue;
            height: 200px;
            width: 200px;
            position: absolute;
            top: 50px; 
        }
        .corner-top-left{
            border-right:unset;
            border-bottom: unset;
        }
        .corner-bottom-right{
            bottom: 100px;
            right: 0px;
            top: unset; 
            border-left: unset;
            border-top: unset; 
        }
    }
}