.portfolio-general-content{
    background: #222222; 
    height: calc(100vh - 50px);
    width: 100%; 
    color: white;
    .about-container{
        width: 70%;
        margin: auto; 
        height: calc(100vh - 200px);
        position: relative;
        top: 50px; 
        padding: 50px;
        box-sizing: border-box;
        padding-top: 15px;
        font-family: 'Kalam', cursive;;
        .corner-wrapper.top, .corner-wrapper.bottom{
            height: 200px;
            width: 200px;
            position: absolute;
            top: 0px; 
            left: 0px;
            border-radius:25px;
            overflow: hidden;
            box-sizing: border-box;;
        }
        .corner-wrapper.top{
            border-top-left-radius: 3px;
        }
        .corner-wrapper.bottom{
            bottom: 0px;
            right: 0px;
            left: unset; 
            top: unset; 
            border-bottom-right-radius: 3px;
        }
        .corner-top-left, .corner-bottom-right{
            box-sizing: border-box;
            height:100%;
            width: 100%;
            border: 10px solid;
            border-image: linear-gradient(135deg, #420773,#5d3670, #844bb3,#7ab4eb, #844bb3,#5d3670, #420773) 1;
        }
        .corner-top-left{
            border-right:unset;
            border-bottom: unset;           
        }
        .corner-bottom-right{
            border-left: unset;
            border-top: unset;
        }
        .name-container{
            background: linear-gradient(0deg,#93bfcc, #add3de, #FFF);
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            font-size: 7rem;
        }
        .job-container{
            font-size: 4rem;
            padding-left: 10%;
            padding-bottom: 5vh;
        }
        .short-introduction{
            font-size: 1.2rem; 
        }
    }
}